@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your CSS file */
#ddMenu {
    transition: all 0.3s ease;
}

#ddMenu.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

#ddMenu:not(.hidden) {
    opacity: 1;
    max-height: 500px; /* Arbitrary large value to ensure the menu can fully expand */
}

button svg {
    transition: transform 0.3s ease;
}

button svg.hidden {
    transform: rotate(180deg);
}